.container {
	position: fixed;
	bottom: 130px;
	right: 50px;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.item {
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 40px;
	text-align: center;
	color: #25d366;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	transition: 0.3s ease-in-out;
}

@media (max-width: 767.98px) {
	.container {
		display: none;
	}
}

@media (max-width: 1200px) {
	.container {
		right: 20px;
		bottom: 90px;
	}

	.item {
		width: 50px;
		height: 50px;
		line-height: 49px;
		font-size: 35px;
	}
}
