.container {
  max-width: 1200px;
  width: 100%;
  background-color: transparent;
  margin: 0 auto;
}

.content {
  margin-top: 50px;
  display: flex;
  background: #F6F6F6;
}

.leftSide {
  width: 60%;
  padding-left: 5%;
  padding-right: 5%;
}

.leftSide p,
.infosDesc {
  font-size: .9rem;
  line-height: 1.875;
  font-weight: 400;
  color: #666666;
}

.rightSide {
  width: 40%;
  padding-left: 40px;
}

.rightSide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infos {
    margin-top: 50px;
    padding-left: 40px;
}

.infos ul li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
}

.number {
  font-size: 2rem;
  color: #ea4c23;
  vertical-align: text-top;
  line-height: 1;
  position: relative;
}

.number::after {
  content: "";
  width: 15px;
  height: 3px;
  background: #d1d1d1;
  position: absolute;
  top: 15px;
  left: 120%;
}

.infosItem {
  padding-left: 50px;
}

.infosTitle {
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  color: #000;
}

.item {
	width: 98%;
	position: relative;
	margin-bottom: 30px;
}

.image {
	overflow: hidden;
	position: relative;
}

.image img {
	max-width: 100%;
	/* object-fit: cover; */
	vertical-align: middle;
	height: auto;
}

.inner {
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: rgba(0, 0, 0, 0.2) !important;
}

.header {
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
	background: none;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -40px;
	z-index: 99;
	padding: 0 20px;
	border-top: none;
	text-align: center;
}

.h4,
.insideh4 {
	height: 65px;
	padding-top: 24px !important;
	padding: 0 0 12px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}

.title {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
}

.desc {
	line-height: 1.875;
}

.price {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 24px;
}

@media (max-width: 1200px) {
	.container {
		padding: 0 10px;
	}
}

@media (max-width: 991.98px) {
  .leftSide {
    width: 58%;
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media (max-width: 767.98px) {
  .content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }

  .infos {
    padding-left: 0;
}

  .leftSide {
    width: 95%;
    padding-left: 0;
    padding-right: 0;
  }

  .rightSide {
    width: 85%;
    padding-left: 10px;
    padding-bottom: 20px;
  }
}
