.container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100;
}

.secondSection,
.fourthSection,
.sixthSection,
.eigthSection {
	background-color: #f7f7f7;
}

.fifthSection {
	padding: 0 !important;
	margin: 0 !important;
}

.footer {
	background-color: #222;
	color: #fff;
	padding-bottom: 15px !important;
	border-bottom: 1px solid #C20F2D;
}

.footerBottom {
	background-color: #222;
	color: #fff;
	padding: 20px 0 30px 0;
}
