.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100;
}

.secondSection,
.fourthSection,
.sixthSection {
  background-color: #f7f7f7;
}

.fifthSection {
  padding: 0 !important;
  margin: 0 !important;
}

.footer{
  background-color: #222;
  color: #fff;
}