.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100;
}

.firstSection{
    width: 100%;
}

.secondSection{
    width: 100%;
    background-color: #f7f7f7;
}